////////////
// Header //
////////////

.site-header {
    @include media($tablet) {
        @include position(fixed, 0px null null 0px);

        z-index: 1;

        width: 100%;
        padding-top: 0;
        padding-bottom: 0;

        background-color: $hex-real-white;
    }

    padding-top: unit(2);
    padding-bottom: unit(2);

    border-bottom: 1px solid $hex-border;

}
.site-branding {
    @include media($tablet) {
        left: $gutter / 2;
    }
}
.site-title {
    @include type-style-h1;
    @include font-weight(light);
}
.site-logo {

    display: inline-block;

    margin-top: 0;
    margin-bottom: 0;
}
.site-description {
    display: none;
}

// Admin bar
//
#wpadminbar {
    @include media($tablet) {
        @include position(fixed, 0px null null 0px);
    }
}